# ===============================
# Node
# ===============================
node_modules/
npm-debug.log*
yarn-error.log*

# ===============================
# Env files
# ===============================
.env
.env.*
!.env.example

# ===============================
# Build output
# ===============================
dist/
build/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Logs
# ===============================
*.log
logs/
